# Literal Constants

## 1.Number

1.1 Integers

In [1]:
a=5
print(a)

5

1.2 Floats

In [2]:
a=5.2
print(a)

5.2

1.3 Complex

In [4]:
a=1+2j
print(a)

(1+2j)

In [5]:
type(a)

complex

## 2.Strings

To write single line strings use of single and double quotes

### 2.1 Double lines quotes

In [6]:
a="Ritik starts learning python"
type(a)

str

### 2.2 Single lines quotes

In [7]:
a='z'
type(a)

str

To write multi-lines strings use three single or double quotes

### 2.3 Triple Quotes

In [12]:
a='''
This is a 
multi line 
comment here
'''
print(a)
type(a)
a="""
This is also 
a multi line 
comment here
"""
print(a)
type(a)

This is a
multi line
comment here


This is also
a multi line
comment here

str

# Variables

A type of identifier

### Rules
    Variable name starts with '_' or 'a-z' or 'A-Z'.
    e.g. _2_1,a,A

In [13]:
_2_2=3
print(_2_2)

3

In [14]:
2th9s=2
print(2th9s)

SyntaxError: invalid syntax (<ipython-input-14-2a884d40b19d>, line 1)

# Control Flow Statements

Use to control the flow of statements by skipping some lines or by repeating some lines.

### 1.Conditional Statement

Keywords used are:
if
elif (similar to else if in C++)
else

In [18]:
a=12
if(a<10):
    print(a , 'is level than 10')
elif(a==10):
    print(a , 'is equal to 10')
else:
    print(a , 'is greater than 10')

12 is greater than 10

### Indentation role in python

To define what part of source code is belonged to which part identation role is followed(some spaces like 2 spaces 4 spaces and 1 tab).

### 2. Looping Statement

### 1.while
    Syntax: 
    while(__Condition___):
        Loop till condition doesn't be false
### 2.for
    Syntax:
    for ____ in ____:
        Loop 
1st black is for iterator and second for iterable/sequences

In [23]:
a=10
while a>0:
    print(a)
    a-=1

10
9
8
7
6
5
4
3
2
1

In [24]:
for i in "python":
    print(i)

p
y
t
h
o
n

Range in for loop

In [26]:
for i in range(5):
    print(i)

0
1
2
3
4

In [27]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [28]:
for i in range(3,19,3):
    print(i)

3
6
9
12
15
18

# Operators

## 1. Arithmatic operators
    1. +
    2. - 
    3. *
    4. /
    5. %
    6. // -> floor division
    7. ** ->to the power of

In [29]:
2+4

6

In [30]:
4-5

-1

In [31]:
6*4

24

In [32]:
5/2

2.5

In [33]:
30%8

6

In [34]:
30//8

3

In [35]:
3**6

729

## 2. Comparison operator
    1. ==   true,if is equal to 
    2. !=   true,if not equal to
    3. >    greater than
    4. <    less than
    5. >=   greater than or equal to
    6. <=   lesser than or equal to

    Note: To find Ascii value of any no. use ord() function

In [36]:
ord("a")

97

In [37]:
ord("A")

65

## 3.Assignment operator
    = , += ,-= , *= , /= , **=

In [39]:
a=20
a+=10
print(a)

30

## 4. Logical operators
    not(!) or(|) and(&)

    True and False in python are not boolean but integers

In [40]:
5+True

6

In [41]:
5+False

5

In [42]:
type(True)

bool

    If python doesn't have bool how or and and works?
    They are based on truthy and falsy values
### Truthy
+int , -int , "___",True
### Falsy
0 , "", False

In [43]:
5 and 0

0

In [45]:
5 & 0

0

In [46]:
5 & 1

1

In [47]:
5 & 2

0