# Data Structures
    Containers that stores stores and perform the following operations on it:
        1. Create  (C)
        2. Read    (R)
        3. Update  (U)
        4. Delete  (D)

###  DS are of two types:
    1. Primitive 
    2. Derived

### Primitive
    1. int
    2. float
    3. bool
    4. string
    5. complex

### Derived
    1. List
    2. Tuple
    3. Dictionary
    4. Set

## String

In [2]:
a='ritik'
print(a)

ritik

In [4]:
a="Tanwar"
print(a)

Tanwar

In [7]:
# ord returns ASCII of char in string
# chr returns char value of a no. (0-256)
ord('A')

65

In [8]:
chr(89)

'Y'

### Operations on strings

Format method

In [9]:
a=1
b=2
c=3

In [10]:
print(str(a),"-",str(b),"-",str(c))

1 - 2 - 3

In [11]:
# Simple way to write this is of form %d as in C for no.
print("%d-%d-%d"%(a,b,c))

1-2-3

In [2]:
a="jatin"
b=2
c=3

In [13]:
print(str(a),"-",str(b),"-",str(c))

jatin - 2 - 3

In [14]:
print("%d-%d-%d"%(a,b,c))

TypeError: %d format: a number is required, not str

In [16]:
# This shows only a no. can be placed in for %d

In [17]:
# Format method
print("{}-{}-{}".format(a,b,c))

jatin-2-3

In [18]:
# Setting the positions here
print("{2}-{0}-{1}".format(a,b,c))

3-jatin-2

In [19]:
firstname="Ritik"
lastname="Tanwar"

In [20]:
print(f"{lastname}-{firstname}")
# f automatically format the strings accordingly without using keyword

Tanwar-Ritik

strip()

In [22]:
a="     ritik     "
print(a)

     ritik

In [23]:
print(a.strip())

ritik

In [29]:
# á¹­his means strip function removes extra spaces from the string from starting and ending

In [28]:
b="   my     name     is     ritik    "
print(b.strip())

my     name     is     ritik

In [31]:
# yes with space in input
a=input()

yes

In [33]:
a=="yes"

False

In [35]:
a.strip()=="yes"

True

### split()
    use to split a input string against a delimeter or forms a list against that delimeter

In [36]:
a=input()

1 2 3 4 5 6 7

In [37]:
a

'1 2 3 4 5 6 7'

In [38]:
a.split(' ')

['1', '2', '3', '4', '5', '6', '7']

## replace()

    Note: String in python is inmutable

In [39]:
a="python"

In [40]:
a[0]='1'

TypeError: 'str' object does not support item assignment

In [41]:
# use replace method as to do following changes
a.replace('p','l')

'lython'

In [42]:
# But this replace all reoccurence of that char

In [43]:
a='aaaaabsxfcd'
a.replace('a','z')

'zzzzzbsxfcd'

In [44]:
a

'aaaaabsxfcd'

In [45]:
a.count('a')

5

In [46]:
a.count('aa')

2

    Strings supports negative indexing

In [71]:
s='ritik tanwar'

In [72]:
s[-1]

'r'

# Lists

    Data in list are:
    1. Ordered
    2. Mutable
    3. Accessed using index
    4. Heterogenous

In [49]:
a=[1,3,2,4]

In [50]:
a

[1, 3, 2, 4]

In [51]:
a=["jatin",1,1.6,print]

In [52]:
a[0]

'jatin'

In [53]:
a[3]('hello world')

hello world

    Operations on list

1. Length(len())

In [54]:
len(a)

4

2. Concatinate

In [60]:
a=[1,2,3,4]

In [61]:
# concatinate twice
a+a

[1, 2, 3, 4, 1, 2, 3, 4]

In [62]:
# concatinate multiple times
a*5

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

2. in

In [63]:
1 in a

True

In [64]:
5 in a

False

3. Iterating on the list

In [65]:
for x in a:
    print(x)

1
2
3
4

4. Python supports forward as well backward indexing

In [66]:
a[0]

1

In [67]:
a[1]

2

In [68]:
a[-1]

4

In [69]:
a[-2]

3

5. Slicing i.e generating subarrays

In [1]:
a=[1,3,6,7,8,23,25]

In [2]:
a[2:5]

[6, 7, 8]

    Note:- range of slicing is [start:end)
    This range can also be provided with jump

 Most efficient way of reversing the list or string is giving third parameter as '-1':

In [3]:
a[:]

[1, 3, 6, 7, 8, 23, 25]

In [4]:
a[::-1]

[25, 23, 8, 7, 6, 3, 1]

Checking palindrom of string

In [5]:
s="nitin"

In [8]:
s==s[::-1]

True

In [9]:
s="jatin"

In [10]:
s==s[::-1]

False

5. Updating the list

In [11]:
# insert method
# insert(index,value)

In [12]:
a

[1, 3, 6, 7, 8, 23, 25]

In [13]:
a.insert(1,10)

In [14]:
a

[1, 10, 3, 6, 7, 8, 23, 25]

In [15]:
# append -> insert at last

In [16]:
a.append(30)

In [17]:
a

[1, 10, 3, 6, 7, 8, 23, 25, 30]

6. Deleting the element

In [19]:
# pop method

In [20]:
# pop() with no index deletes last element
a.pop()

30

In [21]:
a

[1, 10, 3, 6, 7, 8, 23, 25]

In [22]:
# pop() with index

In [23]:
a.pop(2)

3

In [24]:
a

[1, 10, 6, 7, 8, 23, 25]

In [26]:
# remove->takes object as argument and removes first occurence of it

In [28]:
a.remove(10)

In [29]:
a

[1, 6, 7, 8, 23, 25]

In [30]:
# del method

In [31]:
del a[2] # deletes that index

In [32]:
a

[1, 6, 8, 23, 25]

In [33]:
del a # deletes whole memory address allocated to a

In [34]:
a

NameError: name 'a' is not defined

7. Sorting

In [35]:
a=[1, 10, 3, 6, 7, 8, 23, 25]

In [36]:
sorted(a) # takes list as argument and returns sorted list

[1, 3, 6, 7, 8, 10, 23, 25]

In [37]:
a=[1, 10, 3, 6, 7, 8, 23, 25]

In [38]:
a.sort() #sort the list inplace but don't return anything

In [39]:
a

[1, 3, 6, 7, 8, 10, 23, 25]

8. Reverse

In [41]:
for i in reversed(a):
    print(i)

25
23
10
8
7
6
3
1

In [43]:
# inplace reverse the list
a.reverse()

In [44]:
a

[25, 23, 10, 8, 7, 6, 3, 1]

# Tuples

In [45]:
# They are immutable. but they memory efficient than list

In [46]:
a=(1,5,6,7,2) # initialised by paranthesis

In [47]:
a[0]

1

In [48]:
a[0]=2

TypeError: 'tuple' object does not support item assignment

In [50]:
# swap the values using tuple

In [51]:
a=9
b=5

In [52]:
b,a=a,b #a,b=>(a,b)

In [53]:
a

5

In [54]:
b

9

    Tuple to list

In [55]:
a=(1,7,9,7,4,0)

In [56]:
a=list(a)

In [57]:
a

[1, 7, 9, 7, 4, 0]

In [58]:
a=tuple(a)

In [59]:
a

(1, 7, 9, 7, 4, 0)

In [60]:
# Tuple used for return multiple values

In [61]:
def addSubtract(a,b):
    return a+b,a-b

In [62]:
addSubtract(6,4)

(10, 2)

# Dictionary

In [63]:
# Map of c++ data stored as key-value pair 
# Data is unordered.

In [64]:
a={
    "name":"Ritik Tanwar",
    "marks":(90,87),
    "subject":["eng","maths"],
    "friends":{
        "Tanmay":"VMC"
    }
}

In [65]:
a["name"]

'Ritik Tanwar'

In [66]:
a["subject"]

['eng', 'maths']

In [67]:
a["friends"]

{'Tanmay': 'VMC'}

In [68]:
a

{'name': 'Ritik Tanwar',
 'marks': (90, 87),
 'subject': ['eng', 'maths'],
 'friends': {'Tanmay': 'VMC'}}

In [69]:
for key in a:
    print(key)

name
marks
subject
friends

In [70]:
for key in a:
    print(a[key])

Ritik Tanwar
(90, 87)
['eng', 'maths']
{'Tanmay': 'VMC'}

In [71]:
# Some methods to iterate on dictionary

In [72]:
# 1. items()->gives tuple of key-value pair
for item in a.items():
    print(item)

('name', 'Ritik Tanwar')
('marks', (90, 87))
('subject', ['eng', 'maths'])
('friends', {'Tanmay': 'VMC'})

In [73]:
# destructuring tuple
for key,value in a.items():
    print(key,"->",value)

name -> Ritik Tanwar
marks -> (90, 87)
subject -> ['eng', 'maths']
friends -> {'Tanmay': 'VMC'}

In [74]:
# 2.keys()->returns all the keys

In [75]:
for key in a.keys():
    print(key)

name
marks
subject
friends

In [76]:
# 3.value->returns all the values

In [77]:
for value in a.values():
    print(value)

Ritik Tanwar
(90, 87)
['eng', 'maths']
{'Tanmay': 'VMC'}

In [78]:
# 4. get()->returns same as a[key]

In [79]:
# 5. clear()-> clear the dict
a.clear()

In [80]:
a

{}

# Challenge

In [81]:
student=[]

In [82]:
n=int(input())

3

In [84]:
for _ in range(n):
    roll=int(input())
    name=input()
    branch=input()
    student.append({
        'roll-no':roll,
        'name':name,
        'branch':branch
    })

2
Ritik
COE
6
Tanmay
SE
1
Harsh
ME

In [85]:
student

[{'roll-no': 2, 'name': 'Ritik', 'branch': 'COE'},
 {'roll-no': 6, 'name': 'Tanmay', 'branch': 'SE'},
 {'roll-no': 1, 'name': 'Harsh', 'branch': 'ME'}]

    Key in dictionary can be any immutable data-structure

In [86]:
a={
    (1,2):'ritik'
}

In [87]:
a[(1,2)]

'ritik'

In [89]:
# Mutable ds like list
a={
    [12,4,5]:'ritk'
}

TypeError: unhashable type: 'list'

# Set

In [91]:
# No key value pair
# unordered
# check that element is presnt in set or not

In [92]:
s={1,4,6,8,2,2,1}

In [93]:
s

{1, 2, 4, 6, 8}

In [94]:
# To create empty set use as s={} will create an empty dict
s=set()

In [95]:
a={1,4,6,8,3}
b={5,4,2,7,1}

In [96]:
a.intersection(b)

{1, 4}

In [97]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [98]:
a-b

{3, 6, 8}

In [99]:
a[1]

TypeError: 'set' object is not subscriptable

In [100]:
for i in a:
    print(i)

1
3
4
6
8

In [102]:
#  De-duplicate the list i.e. remove all duplicate values from it
a=[1,3,2,1,3,2,5,3]

In [103]:
list(set(a))

[1, 2, 3, 5]

### Comprehension method in python

In [105]:
# Method in which we can create a list ,set and dict in single line of code

In [106]:
a=[]
for i in range(10):
    a.append(i*i)

In [107]:
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [108]:
# This can be done in single line as:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [110]:
# Nested condtions can be applied as
[i*i*i for i in range(10) if i&1]

[1, 27, 125, 343, 729]

In [111]:
# Dict compresion

In [112]:
{i:i**3 for i in range(10)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [113]:
# Set compression
{i**2 for i in range(10) if i%2==0}

{0, 4, 16, 36, 64}

In [114]:
# Tuple compresion(flawed cincept)
a=(i**2 for i in range(10))

In [115]:
a

In [116]:
# This is concept of generator expression

In [6]:
a=[1,2,3,6,7,4,2]

In [8]:
[i for i in a]

[1, 2, 3, 6, 7, 4, 2]